{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
    <div class="container py-5 my-3">
        <h1 class="text-center">
			Войдите в свой аккаунт
		</h1>
		<h6 class="text-center text-muted">
			Для входа введите свой логин и пароль и нажмите кнопку "Войти"
		</h6>

        <div class="form-group d-flex justify-content-center">
		    <form method='post'>
			    {% csrf_token %}
                    {% bootstrap_form form %}
                    {{ form.media }}
                <button type="submit" class="btn btn-primary">Войти</button>
		    </form>
        </div>
    </div>
{% endblock %}